@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cinza-claro: rgb(15, 15, 15);
    --bege-claro: rgba(255, 255, 233, 0.826);
    --yellow: yellow;
}


/* Configurações */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    scroll-behavior: smooth;
    user-select: none;
}

*, *::after, *::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: inherit;
    height: 100vh;
}

.yellow-detail {
    color: yellow;
}

.white-detail {
    color: white;
}

.white-bg {
    background-color: white;
}

.light-grey-bg {
    background-color: var(--cinza-claro);
}

a {
    text-decoration: none;
}


